@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.hide {
  display: none;
}

#start-quiz-btn {
  cursor: pointer;
  border-radius: 5rem;
  background-color: #203b81;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 1rem;
  text-decoration: none;
  margin-bottom: 1.5rem;
  width: 28rem;
  height: 5.5rem;
  text-align: center;
}

#postsSummaries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question-container {
  background-color: white;
  border-radius: 0.7rem;
  padding: 2rem;
  margin: 2rem;
  width: 42.5rem;
  height: 15rem;
  text-align: center;
}

.question-container p {
  font-size: 1.6rem;
}

.answer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.answerBtn {
  cursor: pointer;
  border-radius: 5rem;
  background-color: #203b81;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 1rem;
  text-decoration: none;
  margin-bottom: 1.5rem;
  width: 28rem;
  height: 5.5rem;
  text-align: center;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#2267e7e0), to(#04034de3)), url("/Images/cloud1.jpg");
  background: linear-gradient(to top, #2267e7e0, #04034de3), url("/Images/cloud1.jpg");
  background-size: cover;
  min-height: 100vh;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  background: -webkit-gradient(linear, left bottom, left top, from(#3271e6e0), to(#181596e3)), url("/Images/cloud1.jpg");
  background: linear-gradient(to top, #3271e6e0, #181596e3), url("/Images/cloud1.jpg");
  background-size: cover;
  border-radius: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 58rem;
  width: 45rem;
  margin: 10rem;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(253, 246, 246, 0.5);
          box-shadow: 0px 0px 15px 5px rgba(253, 246, 246, 0.5);
}

.logo {
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background-color: #2a7cf6;
  margin: 5rem 0 4rem 0;
}

.logo p {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.btn-landing {
  cursor: pointer;
  border-radius: 5rem;
  background-color: #203b81;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem;
  text-decoration: none;
  margin-bottom: 1.5rem;
  width: 18rem;
  text-align: center;
}

.buttontest button {
  color: blue;
  height: 3rem;
  width: 7rem;
  background-color: rgba(37, 76, 253, 0.726);
  border: none;
  border-radius: 10%;
}

.timer-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42.5rem;
  height: 3rem;
  border: 2px solid #767676;
  border-radius: 0.7rem;
  margin-bottom: 2rem;
}

.shrinking-timer-bar {
  width: 90%;
  height: 90%;
  position: absolute;
  left: .1rem;
  top: auto;
  bottom: auto;
  width: calc(var(--width, 0) * 1%);
  max-width: calc(100% - 0.3rem);
  min-width: 0.5rem;
  background-color: #63f700;
  border-radius: 0.4rem;
  -webkit-animation: timer 10s ease-in both;
          animation: timer 10s ease-in both;
}

@-webkit-keyframes timer {
  from {
    background-color: #63f700;
  }
  to {
    background-color: red;
  }
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes timer {
  from {
    background-color: #63f700;
  }
  to {
    background-color: red;
  }
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
/*# sourceMappingURL=style.css.map */