@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.hide {
  display: none;
}

#start-quiz-btn {
  cursor: pointer;
  border-radius: 5rem;
  background-color: #203b81;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 1rem;
  text-decoration: none;
  margin-bottom: 1.5rem;
  width: 18rem;
  height: 5.5rem;
  text-align: center;
}

#postsSummaries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.question-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 0.7rem;
  padding: 2rem;
  margin: 2rem;
  width: 30rem;
  height: 15rem;
  text-align: center;
}

.question-container p {
  font-size: 1.6rem;
  color: black;
}

.answer-container {
  display: -ms-grid;
  display: grid;
}

.answerBtn {
  cursor: pointer;
  border-radius: 5rem;
  background-color: #203b81;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 1rem;
  text-decoration: none;
  margin-bottom: 1.5rem;
  width: 28rem;
  height: 5.5rem;
  text-align: center;
}

@media only screen and (max-width: 400px) {
  .answerBtn {
    width: 18rem;
  }
}

#display-score {
  font-size: 2rem;
  color: white;
}

.higscore-container {
  text-align: center;
  font-size: 3rem;
}

.higscore-container h3 {
  font-size: 5rem;
  margin: 2rem;
  color: white;
}

.higscore-container input {
  width: 28rem;
}

#saveHighScore {
  cursor: pointer;
  border-radius: 5rem;
  background-color: #203b81;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 1rem;
  text-decoration: none;
  margin: 1.5rem;
  width: 28rem;
  height: 5.5rem;
  text-align: center;
}

.username-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#2267e7e0),
      to(#04034de3)
    ),
    url("/Images/cloud1.jpg");
  background: linear-gradient(to top, #2267e7e0, #04034de3),
    url("/Images/cloud1.jpg");
  background-size: cover;
  min-height: 100vh;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

h3 {
  font-size: 1.4rem;
}

h1 {
  font-size: 2rem;
}

#highscore-text {
  height: 13rem;
  overflow: auto;
  margin-bottom: 1rem;
}

.container {
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#3271e6e0),
      to(#181596e3)
    ),
    url("/Images/cloud1.jpg");
  background: linear-gradient(to top, #3271e6e0, #181596e3),
    url("/Images/cloud1.jpg");
  background-size: cover;
  border-radius: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 58rem;
  width: 45rem;
  min-width: 300px;
  margin: 2rem 10rem;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(253, 246, 246, 0.5);
  box-shadow: 0px 0px 15px 5px rgba(253, 246, 246, 0.5);
  color: white;
  font-size: 1.5rem;
}

.logo {
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background-color: #2a7cf6;
  margin: 5rem 0 4rem 0;
}

.logo p {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.btn-landing {
  cursor: pointer;
  border-radius: 5rem;
  background-color: #203b81;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem;
  text-decoration: none;
  margin-bottom: 1.5rem;
  width: 18rem;
  text-align: center;
}

.buttontest button {
  color: blue;
  height: 3rem;
  width: 7rem;
  background-color: rgba(37, 76, 253, 0.726);
  border: none;
  border-radius: 10%;
}

.timer-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30rem;
  height: 3rem;
  border: 2px solid #767676;
  border-radius: 0.7rem;
  margin-bottom: 2rem;
}

.shrinking-timer-bar {
  width: 90%;
  height: 88%;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  bottom: 0.5em;
  width: 0;
  max-width: calc(
 100% - 1em);
  min-width: 1.5em;
  background-color: #63f700;
  border-radius: 0.4rem;
  -webkit-animation: timer 10s ease-in forwards;
          animation: timer 10s ease-in forwards;
}

@-webkit-keyframes timer {
  from {
    background-color: #63f700;
  }
  to {
    background-color: red;
  }
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes timer {
  from {
    background-color: #63f700;
  }
  to {
    background-color: red;
  }
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

#quiz-landing-logo {
  height: 25rem;
}

@media only screen and (max-width: 400px) {
  .container {
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  body {
    background: #04034de3;
  }
  .timer-bar {
    width: 25rem;
  }
}

